<!DOCTYPE html>
<html data-theme="" lang="<%= config.language %>">
<head>
    <%- partial('_partial/head') %>
</head>
    <%- partial('_partial/header') %>
<body>
    <div class="drawer lg:drawer-open">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="drawer-side">
            <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-base-300 text-base-content min-h-full w-80 pt-20 px-8">
                <div class="mx-auto">
                    <div class="avatar pb-4">
                      <div class="w-36 rounded-full">
                        <img alt="Tailwind CSS Navbar component" src="/images/icons/icon-284x284.png" />     
                      </div>
                    </div>
                </div>
                <div class="text-xl font-normal mx-auto">
                mykonakona
                </div>
                <div class="text-base font-light mx-auto pb-4">
                Just Another Weblog
                </div>
                 <div class="flex justify-around py-4">
                    <a href="https://github.com/mykonakona">
                        <i class="hgi hgi-stroke hgi-github" style="font-size:2rem"></i>
                    </a>
                    <a href="https://x.com/mykonakona">
                        <i class="hgi hgi-stroke hgi-new-twitter" style="font-size:2rem"></i>
                    </a>
                    <a href="https://mykonakona.github.io/atom.xml">
                    <i class="hgi hgi-stroke hgi-rss" style="font-size:2rem"></i>
                    </a>                 
                </div>   
                <% for (var i in theme.menu){ %>
                    <li class="hover:text-white transition duration-200 ease-in-out">
                      <a class="px-4 py-2 text-xl" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="drawer-content bg-base-200 flex flex-col">          
        <!-- Page content here -->
        <!-- Page Content-->
        <main class="flex-1 min-h-[85vh] w-full px-4 py-4">
            <%- body %>             
        </main>
        <%- partial('_partial/footer') %>
        <!-- Page Content结束-->
        </div>        
    </div>
</body>
</html>


