<!DOCTYPE html>
<html data-theme="" lang="<%= config.language %>">
<head>
    <%- partial('_partial/head') %>
</head>
    <%- partial('_partial/header') %>
<body>
    <div class="drawer lg:drawer-open">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="drawer-side">
            <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-base-300 text-base-content min-h-full w-80 p-4">
                <div class="flex flex-row items-center mx-auto">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                        <div class="w-10 rounded-full">
                          <img alt="Tailwind CSS Navbar component" src="/images/icons/icon-512x512.png" />                                   
                        </div>
                    </div>
                </div>     
                <% for (var i in theme.menu){ %>
                    <li class="hover:text-white transition duration-200 ease-in-out">
                      <a class="px-4 py-2 text-xl" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="drawer-content bg-base-200 flex flex-col">          
        <!-- Page content here -->
        <!-- Page Content-->
        <main class="flex-1 min-h-[80vh] mx-auto max-w-7xl py-4 lg:p-4">
            <%- body %>             
        </main>
        <%- partial('_partial/footer') %>
        <!-- Page Content结束-->
        </div>        
    </div>
</body>
</html>


