<% if (index) { %>
    <div class="card bg-base-100 rounded-box transition-all duration-500 ease-in-out hover:z-30 hover:shadow-lg md:shadow-xl md:hover:shadow-2xl md:hover:-translate-y-0.5">
        <div class="card-body min-h-60">
            <h2 class="card-title">
                <a href="<%- url_for(post.link ? post.link : post.path) %>" itemprop="url"><%= post.title %></a>
            </h2>
            <p class="">     
                <%- date(post.date, 'YYYY-M-D') %>
            </p>
                <% if (post.excerpt){ %>
                    <div class="min-h-12">
                        <%- post.excerpt %>
                    </div>                        
                <% } %>
            </p>
          <div class="card-actions justify-end">
                <%- list_tags(post.tags, {class: {a: 'badge badge-secondary text-base-100'}, show_count: false, style: false, separator: ' '}) %>

          </div>
        </div>
      </div>
<% } else { %>
    <div class="mx-auto px-4">
        <div class="card">
            <div class="card-title">    
            </div>
            <div class="card-body">
                <article class="mx-auto max-w-5xl prose ">
                    <div class="mb-4 text-3xl font-bold">
                            <%= post.title %>
                        </div>
                        <div class="text-base">
                            <%= date(post.date, 'YYYY-MM-DD') %>
                        </div>
                        <div class="text-base">
                            <%- post.content %>     
                        </div>             
                </article>
            </div>
        </div>
    </div>
<% } %>


